/* место для вашего кода */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    background: white;
    color: black;

}

.header {
    width: 1440px;
    height: 293px;
    flex-shrink: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 51px;
    padding-right: 49px;
    padding-top: 92px;
    padding-bottom: 92px;

}

.header-menu {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    width: 388px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.header-menu-list-item {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: circle;
}
.header-menu-list-item-link {

}
.header-menu-list-item-selected {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    text-decoration:none;   
}

.header-logo {
    width: 148px;
    height: 104px;
    flex-shrink: 0;
    background-image: url(/images/logo-black.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -10px;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    width: 400px;
    height: 97px;
    flex-shrink: 0;
}

.header-contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style: none;
    width: 240px;
    height: 97px;
}

.header-contacts-list-item {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    line-height: 24px;

}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1440px;
    height: 757px;
    flex-shrink: 0;
    background: black;
    gap: 85px;
    z-index: -1;
    background-image: url(/images/cover.jpg);
    background-size: cover;


}

.cover-overlay {
    width: 1440px;
    height: 757px;
    flex-shrink: 0;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}

.cover-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    flex-shrink: 0;
    gap: 23px;
    z-index: 1;
}

.cover-title-accent-span {
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
    width: 1340px;
    text-align: left;
}
.cover-title-text-left-special{
    margin-left:-20px;
}
.cover-title-text-right-special{
    margin-right:-20px;
}
.cover-title-text-center {
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
    width: 1340px;
    text-align: center;
    margin-bottom:-3px;
    margin-right:30px;
}

.cover-title-text-right {
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
    width: 1340px;
    text-align: right;
    margin-right:-55px;
}

.cover-undertitle {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: #FFF;
    width: 1440px;
    height: 152px;
    flex-shrink: 0;
    gap: 80px;
    padding-right: 50px;
    z-index: 1;
}

.cover-undertitle-slogan {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
    text-transform: uppercase;
    word-spacing:17.5px;
    
}

.cover-undertitle-button {
    width: 257px;
    height: 52px;
    flex-shrink: 0;
    background: none;
    border: 1px solid #FFF;
}

.cover-undertitle-button-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.lots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 1340px;
    height: 579px;
    flex-shrink: 0;
    background-color: white;
    margin-top: 180px;
    gap: 27px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    font-family: Raleway;
    font-style: normal;
    line-height: normal;
}

.lots-title {
    text-transform: uppercase;
    padding-left: 40px;
    height: 47px;
}

.lots-cards-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 1340px;
    height: auto;
    flex-shrink: 0;
    color: #FFF;
}

.lots-cards-list-item {
    width: 430px;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.lots-cards-list-item-link {
    width: 430px;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: absolute;
    list-style-type: none;
    text-decoration: none;
}

.lots-cards-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    height: 450px;
    flex-shrink: 0;

}

.lots-cards-card-photo {
    width: 430px;
    height: 450px;
    flex-shrink: 0;
    position: absolute;
    z-index: 0;

}

.lots-cards-card-overlay {
    width: 430px;
    height: 450px;
    flex-shrink: 0;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    z-index: 1;

}

.lots-cards-card-title {
    width: 350px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 50px;
}

.lots-cards-card-info {
    width: 350px;
    height: auto;
    flex-shrink: 0;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    z-index: 1;
    margin-bottom: 50px;
    text-decoration-style: none;
}

.lots-more {
    margin-left: 40px;
    width: 192px;
    height: 25px;
    flex-shrink: 0;
}

.lots-more-link {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 1340px;
    height: 487px;
    flex-shrink: 0;
    margin-top: 181px;
    background-color: white;
    gap:25px;

}

.about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 240px;
    flex-shrink: 0;

}

.about-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 120px;
}

.about-logo-image {
    width: 148px;
    height: 114px;
    flex-shrink: 0;
    background-image: url(/images/logo-white.svg);
    background-size: cover;
    background-repeat: none;



}

.about-info {
    display: flex;
    flex-direction: column;
    height: 388px;
    width: auto;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    gap: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-top: 100px;
}
.about-info-title{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
    justify-content: start;
    align-items: start; 
}
.about-info-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 35px;
    width: 885px;
    height: 240px;
    flex-shrink: 0;
}
.about-info-text-paragraph{
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






footer {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    align-items: start;
    width: 1340px;
    height: 97px;
    flex-shrink: 0;
    margin-top: 181px;
    margin-bottom:90px;
}
.footer-contacts{
    width: 240px;
    height: 97px;
    flex-shrink: 0;
}
.footer-contacts-list{
    display: flex;
    flex-direction: column;
    list-style:none;
}
.footer-menu {
    width: 149px;
    height: 64px;
    flex-shrink: 0;
   
}
.footer-menu-list{
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center
}
.footer-list-item{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}
.footer-list-item-link{
   
    
}
.footer-list-item-selected{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    text-decoration:none;
   
}
.footer-list-item-link-selected{  
    text-decoration:none;
}
.footer-socials{
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    width: 240px;
height: 48px;
flex-shrink: 0;

}
.footer-socials-link{
width: 48px;
height: 48px; 
border-radius: 24px;
}
.footer-socials-link-vk{
    background-image: url(/images/vk.svg);
}
.footer-socials-link-yt{
    background-image: url(/images/yt.svg);
}
.footer-socials-link-pinterest{
    background-image: url(/images/pinterest.svg);
}
.pixel-perfect-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }